<div class="container" >
  <a routerLink="/ajouter-formation"> <button class="btn btn-primary">Ajouter Formation </button></a>
  <div class="row">
    <div class="col-xs-12 ">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Formateur</th>
            <th scope="col">prix</th>
            <th scope="col">Heure/Semaine</th>
            <th scope="col">categorie</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of formationData ;index as index">
            <th scope="row">{{index+1}}</th>
            <td>{{f.titreFormation}}</td>

            <td>
              <ng-container *ngFor="let i of instructorData ;index of index"><span
                  *ngIf="f.idInstructor== i.idInstructor">{{i.nomInstructor}}</span> </ng-container>
            </td>
            <td>{{f.prixFormation}} DT</td>
            <td>{{f.dureeHeure }}h/{{f.dureeSemaine}}sem</td>
            <td>{{f.categorieFormation}}</td>
            <td>
              <button class="waves-light btn btn-sm btn-info" (click)="Detail('detail',f.idFormation)"> <i class="fas fa-info-circle "
                  style="color: white;"></i></button>
                  &nbsp;
              <button class="waves-light btn btn-sm btn-success" (click)="Modifier('modifier-formation',f.idFormation)"> <i
                  class="fa fa-pencil"></i></button>
                  
                  <button type="button" mdbBtn class="waves-light btn btn-sm btn-danger" data-toggle="modal"
                  data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>
                  <i class="fa fa-trash"> </i>
                </button>        
                <!--Confirmer supprimer-->
                <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                    <div class="modal-content text-center">
                      <div class="modal-header d-flex justify-content-center">
                        <p class="heading">
                          êtes-vous sûr?</p>
                      </div>
                      <div class="modal-body">
                        <mdb-icon fas icon="bell" size="4x" class="animated rotateIn">
                        </mdb-icon>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <button mdbBtn color="danger" class="waves-effect" mdbWavesEffect
                          (click)="Supprimer(f.idFormation)">
                          Oui
                        </button>
                        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
                          (click)="frame.hide()">
                          Non
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
