<div class="container" >
    <div class="row">
        <a routerLink="/ajouter-categorie"> <button class="btn btn-primary" >Ajouter Categorie</button></a>
        <div class="col-9">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of categorie;index as index">
                    <th scope="row">{{index+1}}</th>
                    <td>{{c.nomCategorie}}</td>
                    <td>
                       
                        <button class="waves-light btn btn-sm btn-success" (click)="modifier('modifier-categorie',c.idCategorie)"> <i class="fa fa-pencil"></i></button>
                      
                        <button type="button" mdbBtn class="waves-light btn btn-sm btn-danger" data-toggle="modal"
                data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>
                <i class="fa fa-trash"> </i>
              </button>        
              <!--Confirmer supprimer-->
              <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                  <div class="modal-content text-center">
                    <div class="modal-header d-flex justify-content-center">
                      <p class="heading">Are you sure?</p>
                    </div>
                    <div class="modal-body">
                      <mdb-icon fas icon="bell" size="4x" class="animated rotateIn">
                      </mdb-icon>
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button mdbBtn color="danger" class="waves-effect" mdbWavesEffect
                        (click)="Supprimer(c.idCategorie)">
                        Yes
                      </button>
                      <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
                        (click)="frame.hide()">
                        No
                      </a>
                    </div>
                  </div>
                </div>
              </div>             
                    </td>
                  </tr>
                
                </tbody>
              </table>
        </div>
    </div>
</div>