<div class="container" >
    <div class="row">
        <div class="col-9">
            <h2 class="text-center">Modifier Etudiant</h2>
            <form (ngSubmit)="onSubmit()" [formGroup]="etudiantForm">
                <div class="mb-1 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nom</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="nomNosEtudiant">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Prenom</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="prenomNosEtudiant">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Numero Tel</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="numeroTelNosEtudiant">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Mail</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="emailNosEtudiant">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Categorie</label>
                    <div class="col-sm-8">
                        <select  formControlName="nomCategorie" class="form-control">
                            <option [value]="c.nomCategorie" *ngFor="let c of categorieData">
                                {{c.nomCategorie}}
                            </option>
                        </select>
                    </div>
                </div>
                <!--<div class="mb-1 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Accpter</label>
                    <div class="col-sm-8">
                        oui <input  type="radio" name="accepter" id="form11Example4" [value]="1"  formControlName="accepter" >
                        non<input  type="radio" name="accepter" id="form11Example4" [value]="0"  formControlName="accepter">
                    </div>
                </div>-->
                <div>
                    <button class="btn btn-success text-center">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>